@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#b_template{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../public/images/carousel/carousel1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    padding-top: 5em;
}

#about_template{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../public/images/carousel/carousel1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    padding-top: 5em;
}
